
body{
    background-image: url("joy/bg.gif");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 40px;
}



img {
    height: 300px;
    
}

.jory{
    display: block;
    margin: 0 auto;
}

.notif_area {
    background-color: rgba(240, 240, 240, .8);
    width: 1000px;
}

.notif {
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
}

.icon {
    height: 150px;
    width: 150px;
}

.text {
    width: 80%;
}

.box{
    background-color: rgb(0, 136, 255);
    height: 300px;
    width: 300px;
    position: absolute;
    left: -30%;
    transition: 500ms ease-in-out;
}

#toggle{

}

.title{
    text-align: center;
}