* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body{
    background-image: url("joy/bg.gif");
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    padding-top: 40px;
}



img {
    height: 300px;
    
}

.jory{
    display: block;
    margin: 0 auto;
}

.notif_area {
    background-color: rgba(240, 240, 240, .8);
    width: 410px;
}

.notif {
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
}

.icon {
    height: 65px;
    width: 65px;
}

.text {
    width: 80%;
}

.box{
    background-color: rgb(255, 255, 255);
    height: 120px;
    width: 206px;
    position: absolute;
    left: -206px;
    transition: 500ms ease-in-out;
}


.title{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
